<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="120x120" href=@Url.Content("/Content/html&css/assets/img/favicon/apple-touch-icon.png")>
    <link rel="icon" type="image/png" sizes="32x32" href=@Url.Content("/Content/html&css/assets/img/favicon/favicon-32x32.png")>
    <link rel="icon" type="image/png" sizes="16x16" href=@Url.Content("/Content/html&css/assets/img/favicon/favicon-16x16.png")>
    <link rel="manifest" href=@Url.Content("/Content/html&css/assets/img/favicon/site.webmanifest")>
    <link rel="mask-icon" color="#ffffff" href=@Url.Content("/Content/html&css/assets/img/favicon/safari-pinned-tab.svg")>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Sweet Alert -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/html&css/vendor/sweetalert2/dist/sweetalert2.min.css")>

    <!-- Notyf -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/html&css/vendor/notyf/notyf.min.css")>

    <!-- Volt CSS -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/html&css/css/volt.css")>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- Core -->
    <script src=@Url.Content("/Content/html&css/vendor/@popperjs/core/dist/umd/popper.min.js")></script>
    <script src=@Url.Content("/Content/html&css/vendor/bootstrap/dist/js/bootstrap.min.js")></script>

    <!-- Vendor JS -->
    <script src=@Url.Content("/Content/html&css/vendor/onscreen/dist/on-screen.umd.min.js")></script>

    <!-- Slider -->
    <script src=@Url.Content("/Content/html&css/vendor/nouislider/distribute/nouislider.min.js")></script>

    <!-- Smooth scroll -->
    <script src=@Url.Content("/Content/html&css/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js")></script>

    <!-- Charts -->
    <script src=@Url.Content("/Content/html&css/vendor/chartist/dist/chartist.min.js")></script>
    <script src=@Url.Content("/Content/html&css/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js")></script>

    <!-- Datepicker -->
    <script src=@Url.Content("/Content/html&css/vendor/vanillajs-datepicker/dist/js/datepicker.min.js")></script>

    <!-- Sweet Alerts 2 -->
    <script src=@Url.Content("/Content/html&css/vendor/sweetalert2/dist/sweetalert2.all.min.js")></script>

    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <!-- Vanilla JS Datepicker -->
    <script src=@Url.Content("/Content/html&css/vendor/vanillajs-datepicker/dist/js/datepicker.min.js")></script>

    <!-- Notyf -->
    <script src=@Url.Content("/Content/html&css/vendor/notyf/notyf.min.js")></script>

    <!-- Simplebar -->
    <script src=@Url.Content("/Content/html&css/vendor/simplebar/dist/simplebar.min.js")></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src=@Url.Content("/Content/src/assets/js/volt.js")></script>
</body>
</html>
